<h1> Contoh Penggunaan Find</h1>
<table border="1">	
	<tr>
		<td>No</td>
		<td>{{ artist.getId }}</td>
	</tr>
	<tr>
		<td>Nama</td>
		<td>{{ artist.getNama }}</td>
	</tr>
	<tr>
		<td>Pekerjaan</td>
		<td>{{ artist.getPekerjaan }}</td>
	</tr>

</table>